/* All Partial Files */
@import "../partials/_variables.css";
@import "../partials/_globalStyles.css";

/* All Component Files */
@import "../components/topbar.css";
@import "../components/leftbar.css";
@import "../components/rightbar.css";
@import "../components/bottomtab.css";

body {
    min-height: 100vh;
    background: #001582;
}

.shape-2 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Purchase Section */
.purchase {
    width: 100%;
    margin-bottom: 80px;
}

.purchase .purchase-container {
    width: 100%;
    padding: var(--layout-y-spacing) var(--layout-x-spacing);
}

.purchase .purchase-container .purchase-steps {
    width: 100%;
}


.purchase .purchase-container .purchase-steps .purchase-step {
    width: 100%;
    flex-direction: column;
    align-items: center;
    display: none;
}

.purchase .purchase-container .purchase-steps .purchase-step.active {
    display: flex;
}

/* Purchase Step 1 */
.purchase .purchase-container .purchase-steps .purchase-step-1 h2 {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

.purchase .purchase-container .purchase-steps .purchase-step-1 .top-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.purchase .purchase-container .purchase-steps .purchase-step-1 .top-infos p {
    color: #D8E4FA;
    margin-bottom: 10px;
}

.purchase .purchase-container .purchase-steps .purchase-step-1 .top-infos p:last-child {
    margin-bottom: 0px;
}

.purchase .purchase-container .purchase-steps .purchase-step-1 .purchase-info-box {
    width: 100%;
    padding: 25px 15px;
    background: linear-gradient(150deg, rgba(255, 255, 255, 0.5), rgba(238, 237, 237, 0.2), rgba(255, 255, 255, 0.05));
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.purchase .purchase-container .purchase-steps .purchase-step-1 .purchase-info-box .purchase-info-box-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
}

.purchase .purchase-container .purchase-steps .purchase-step-1 .purchase-info-box .purchase-info-box-top p {
    color: #D8E4FA;
}

.purchase .purchase-container .purchase-steps .purchase-step-1 .purchase-info-box .purchase-info-box-top span {
    margin: 0px 5px;
    color: #D8E4FA;
    font-family: 'Primary Thin';
    opacity: 0.5;
    height: 14px;
    display: flex;
    flex: 1;
    overflow: hidden;
}

.purchase .purchase-container .purchase-steps .purchase-step-1 .purchase-info-box .purchase-info-box-top h4 {
    color: #fff;
}

.purchase .purchase-container .purchase-steps .purchase-step-1 .purchase-info-box .purchase-info-box-center {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.purchase .purchase-container .purchase-steps .purchase-step-1 .purchase-info-box .purchase-info-box-center button {
    width: 50px;
    height: 50px;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
    border: 1px solid rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.purchase .purchase-container .purchase-steps .purchase-step-1 .purchase-info-box .purchase-info-box-center .quantity {
    flex: 1;
    height: 50px;
    background: rgba(255, 255, 255, 0.8);
    margin: 0px 10px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.purchase .purchase-container .purchase-steps .purchase-step-1 .purchase-info-box .purchase-info-box-bottom {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.purchase .purchase-container .purchase-steps .purchase-step-1 .purchase-info-box .purchase-info-box-bottom p {
    color: #D8E4FA;
}

.purchase .purchase-container .purchase-steps .purchase-step-1 .purchase-info-box .purchase-info-box-bottom span {
    margin: 0px 5px;
    color: #D8E4FA;
    font-family: 'Primary Thin';
    opacity: 0.5;
    height: 14px;
    display: flex;
    flex: 1;
    overflow: hidden;
}

.purchase .purchase-container .purchase-steps .purchase-step-1 .purchase-info-box .purchase-info-box-bottom h4 {
    color: #fff;
}

/* Purchase Step 2 */
.purchase .purchase-container .purchase-steps .purchase-step-2 h2 {
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
}

.purchase .purchase-container .purchase-steps .purchase-step-2 .purchase-info-box {
    width: 100%;
    padding: 25px 15px;
    background: linear-gradient(150deg, rgba(255, 255, 255, 0.5), rgba(238, 237, 237, 0.2), rgba(255, 255, 255, 0.05));
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.purchase .purchase-container .purchase-steps .purchase-step-2 .purchase-info-box .purchase-info-box-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
}

.purchase .purchase-container .purchase-steps .purchase-step-2 .purchase-info-box .purchase-info-box-top p {
    color: #D8E4FA;
}

.purchase .purchase-container .purchase-steps .purchase-step-2 .purchase-info-box .purchase-info-box-top span {
    margin: 0px 5px;
    color: #D8E4FA;
    font-family: 'Primary Thin';
    opacity: 0.5;
    height: 14px;
    display: flex;
    flex: 1;
    overflow: hidden;
}

.purchase .purchase-container .purchase-steps .purchase-step-2 .purchase-info-box .purchase-info-box-top h4 {
    color: #fff;
}

.purchase .purchase-container .purchase-steps .purchase-step-2 .purchase-info-box .purchase-info-box-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
}

.purchase .purchase-container .purchase-steps .purchase-step-2 .purchase-info-box .purchase-info-box-bottom p {
    color: #D8E4FA;
}

.purchase .purchase-container .purchase-steps .purchase-step-2 .purchase-info-box .purchase-info-box-bottom span {
    margin: 0px 5px;
    color: #D8E4FA;
    font-family: 'Primary Thin';
    opacity: 0.5;
    height: 14px;
    display: flex;
    flex: 1;
    overflow: hidden;
}

.purchase .purchase-container .purchase-steps .purchase-step-2 .purchase-info-box .purchase-info-box-bottom h4 {
    color: #fff;
}

.purchase .purchase-container .purchase-steps .purchase-step-2 .purchase-info-box .purchase-confirmation {
    display: flex;
}

.purchase .purchase-container .purchase-steps .purchase-step-2 .purchase-info-box .purchase-confirmation .checkbox {
    min-width: 25px;
    max-width: 25px;
    height: 25px;
    background: #D8E4FA;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.purchase .purchase-container .purchase-steps .purchase-step-2 .purchase-info-box .purchase-confirmation .checkbox.active {
    background: var(--solid-blue-primary-color);
}

.purchase .purchase-container .purchase-steps .purchase-step-2 .purchase-info-box .purchase-confirmation .checkbox svg {
    display: none;
}

.purchase .purchase-container .purchase-steps .purchase-step-2 .purchase-info-box .purchase-confirmation .checkbox.active svg {
    display: block;
}

.purchase .purchase-container .purchase-steps .purchase-step-2 .purchase-info-box .purchase-confirmation p {
    margin-left: 15px;
    color: #D8E4FA;
}

/* Purchase Step 3 */
.purchase .purchase-container .purchase-steps .purchase-step-3 h2 {
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
}

.purchase .purchase-container .purchase-steps .purchase-step-3 .purchase-top-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 30px;
}

.purchase .purchase-container .purchase-steps .purchase-step-3 .purchase-top-info p {
    color: #D8E4FA;
}

.purchase .purchase-container .purchase-steps .purchase-step-3 .purchase-top-info span {
    margin: 0px 5px;
    color: #D8E4FA;
    font-family: 'Primary Thin';
    opacity: 0.5;
    height: 14px;
    display: flex;
    flex: 1;
    overflow: hidden;
}

.purchase .purchase-container .purchase-steps .purchase-step-3 .purchase-top-info h4 {
    color: #fff;
}

.purchase .purchase-container .purchase-steps .purchase-step-3 .qr-code-box {
    width: 100%;
    padding: 60px;
    background: linear-gradient(150deg, rgba(255, 255, 255, 0.5), rgba(238, 237, 237, 0.2), rgba(255, 255, 255, 0.05));
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    margin-bottom: 20px;
}

.purchase .purchase-container .purchase-steps .purchase-step-3 .qr-code-box img {
    width: 100%;
}

@media only screen and (max-width: 360px) {
    .purchase .purchase-container .purchase-steps .purchase-step-3 .qr-code-box {
        padding: 45px;
    }
}

.purchase .purchase-container .purchase-steps .purchase-step-3 .unique-id {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.purchase .purchase-container .purchase-steps .purchase-step-3 .unique-id p {
    color: #D8E4FA;
}

.purchase .purchase-container .purchase-steps .purchase-step-3 .unique-id button {
    margin-left: 10px;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.purchase .purchase-container .purchase-steps .purchase-step-3 .unique-id button:hover {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
}

/* Steps Bar */
.steps-bar {
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 1000;
    padding: 0px 5px;
    display: none;
}

.steps-bar.active {
    display: block;
}

.steps-bar .steps-bar-container {
    width: 100%;
    height: 100%;
    padding: 0px var(--layout-x-spacing);
    background: linear-gradient(150deg, rgba(255, 255, 255, 0.1), rgba(238, 237, 237, 0.2), rgba(255, 255, 255, 0.01));
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    align-items: center;
    border-radius: 15px 15px 0px 0px;
    -webkit-border-radius: 15px 15px 0px 0px;
    -moz-border-radius: 15px 15px 0px 0px;
    -ms-border-radius: 15px 15px 0px 0px;
    -o-border-radius: 15px 15px 0px 0px;
}

.steps-bar.last-step-bar .steps-bar-container {
    grid-template-columns: 1fr;
    background: transparent;
    border: none;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
}

.steps-bar .steps-bar-container button {
    width: 100%;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.steps-bar .steps-bar-container button p {
    color: #fff;
}

.steps-bar .steps-bar-container button svg {
    margin-left: 5px;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.steps-bar .steps-bar-container button:hover svg {
    transform: translateX(5px);
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
}

.steps-bar .steps-bar-container .next-step-btn {
    border-color: var(--solid-blue-primary-color);
    background: var(--solid-blue-primary-color);
    box-shadow: 0px 20px 50px rgba(54, 114, 233, 40%);
}

.steps-bar .steps-bar-container .next-step-btn:hover {
    background: var(--solid-blue-secondary-color);
    border-color: var(--solid-blue-secondary-color);
}

.steps-bar.last-step-bar .steps-bar-container button {
    border-color: var(--solid-blue-primary-color);
    background: var(--solid-blue-primary-color);
    box-shadow: 0px 20px 50px rgba(54, 114, 233, 40%);
}

.steps-bar.last-step-bar .steps-bar-container button:hover {
    background: var(--solid-blue-secondary-color);
    border-color: var(--solid-blue-secondary-color);
}