/* All Partial Files */
@import "../partials/_variables.css";
@import "../partials/_globalStyles.css";

/* All Component Files */
@import "../components/bottomtab.css";

/* Search */
.search-result {
    width: 100%;
    padding: var(--layout-y-spacing) 0px 20px 0px;
    border-bottom: 2px solid #D8E4FA;
}

.search-result .search-result-top {
    padding: 0px var(--layout-x-spacing);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.search-result .search-result-top .back-btn {
    display: flex;
    align-items: center;
}

.search-result .search-result-top .back-btn svg {
    margin-right: 10px;
}

.search-result .search-result-top .back-btn p {
    color: var(--solid-blue-primary-color);
}

.search-result .search-form {
    width: 100%;
    padding: 0px var(--layout-x-spacing) 20px var(--layout-x-spacing);
}

.search-result .search-form .input-group {
    width: 100%;
    height: 50px;
    background: #fff;
    border: 2px solid #D8E4FA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.search-result .search-form .input-group .search-icon {
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-result .search-form .input-group input {
    flex: 1;
    height: 100%;
    font-family: 'Primary Bold';
}

.search-result .search-form .input-group input::placeholder {
    font-family: 'Primary Regular';
}

.search-result .search-form .input-group .clear-icon {
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-result .search-query {
    margin: 0px var(--layout-x-spacing);
}

/* Packages Section */
.packages {
    margin-top: 20px;
    margin-bottom: 110px;
}

.packages h2 {
    text-align: center;
    margin-bottom: 20px;
}

.packages .packages-nav {
    width: 100%;
    padding: 0px var(--layout-x-spacing) 25px var(--layout-x-spacing);
    display: flex;
    overflow-x: auto;
}

.packages .packages-nav::-webkit-scrollbar {
    display: none;
}

.packages .packages-nav button {
    min-width: fit-content;
    padding: 10px;
    background: #fff;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    box-shadow: 0px 5px 10px rgba(123, 49, 110, 8%);
    color: var(--solid-blue-primary-color);
    margin-right: 10px;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.packages .packages-nav button:last-child {
    margin-right: 0px;
}

.packages .packages-nav button:hover {
    background: var(--solid-blue-primary-color);
    color: #fff;
}

.packages .packages-tab-item {
    display: none;
}

.packages .packages-tab-item.active {
    display: block;
}

.packages .packages-container {
    padding: 0px var(--layout-x-spacing);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

@media only screen and (max-width: 350px) {
    .packages .packages-container {
        grid-template-columns: 1fr;
    }
}

.packages .packages-container .package {
    width: 100%;
}

.packages .packages-container .package .package-image {
    width: 100%;
    height: 150px;
    overflow: hidden;
    border-radius: 25px 25px 0px 0px;
    -webkit-border-radius: 25px 25px 0px 0px;
    -moz-border-radius: 25px 25px 0px 0px;
    -ms-border-radius: 25px 25px 0px 0px;
    -o-border-radius: 25px 25px 0px 0px;
}

.packages .packages-container .package .package-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.packages .packages-container .package .package-container {
    width: 100%;
    padding: 15px;
    background: linear-gradient(to right bottom, rgba(250, 254, 255, 0.5), rgba(203, 225, 250, 0.7), rgba(229, 213, 251, 0.23));
    box-shadow: 5px 5px 20px rgba(203, 225, 250, 0.6);
    border-right: 1px solid rgba(213, 208, 226, 0.3);
    border-bottom: 1px solid rgba(213, 208, 226, 0.3);
    border-left: 1px solid rgba(213, 208, 226, 0.3);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 0px 0px 25px 25px;
    -webkit-border-radius: 0px 0px 25px 25px;
    -moz-border-radius: 0px 0px 25px 25px;
    -ms-border-radius: 0px 0px 25px 25px;
    -o-border-radius: 0px 0px 25px 25px;
}

.packages .packages-container .package .package-container h4 {
    margin-bottom: 5px;
}

.packages .packages-container .package .package-container .package-description {
    color: var(--text-color);
    margin-bottom: 15px;
}

.packages .packages-container .package .package-container .package-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.packages .packages-container .package .package-container .package-info .package-info-left h4 {
    color: var(--secondaryColor);
    margin-bottom: 10px;
}

.packages .packages-container .package .package-container .package-info .package-info-left  .package-info-left-bottom {
    display: flex;
    align-items: center;
}

.packages .packages-container .package .package-container .package-info .package-info-left  .package-info-left-bottom svg {
    margin-right: 5px;
}

.packages .packages-container .package .package-container .package-info .package-info-left  .package-info-left-bottom p {
    color: var(--title-text-color);
    margin-right: 5px;
}

.packages .packages-container .package .package-container .package-progress-bar {
    width: 100%;
    height: 4px;
    background: #CBD5E4;
    position: relative;
    margin-bottom: 10px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.packages .packages-container .package .package-container .package-progress-bar .package-progress-bar-percent {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: linear-gradient(90deg, #0295FF, var(--solid-blue-primary-color));
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.packages .packages-container .package .package-container .package-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.packages .packages-container .package .package-container .package-bottom p {
    display: flex;
    align-items: center;
    color: var(--title-text-color);
}

.packages .packages-container .package .package-container .package-bottom p svg {
    margin-right: 5px;
}

.packages .packages-container .package .package-container .package-bottom .package-progress-percent {
    width: 35px;
    height: 16px;
    background: var(--solid-blue-secondary-color);
    font-size: 10px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.packages a.more {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 45px;
    margin: 25px auto 0px auto;
    background: var(--solid-blue-primary-color);
    box-shadow: 0px 20px 50px rgba(54, 114, 233, 40%);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    font-size: 15px;
    color: #fff;
}

.packages a.more svg {
    margin-left: 8px;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.packages a.more:hover svg {
    transform: translateX(5px);
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
}